body{
	padding-bottom: 100px;
}


.listitem{
	
}
.listitem div{
	padding-top: 4px;
	padding-bottom: 4px;
}
.listitem div.when{
	text-align: right;
}
.eventpresentation, .eventdata{
	display: none;
	box-shadow: inset 1px 1px 16px 0 #ccc;
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
}
.presentationtxt{
	text-align: right;
}
.presentationtxt h3{
	margin-top: 0;
}
.presentationimg img{
	width: 100%;
	margin-bottom: 6px;
}
.btn-default{
	margin-top: 20px;
	margin-bottom: 20px;
}
.map{
	height: 200px;
	background-color: #ccc;
}