body{
	padding-top: 0;
	padding-bottom: 100px;
	background-color: #FEA2BB;
}

a,a:hover{
	color: #FC497C;
}
.listitem a{
	color: #000;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
.listitem div{
	padding-top: 6px;
	padding-bottom: 6px;
}
.listitem div.when{
	text-align: right;
}
.eventpresentation, .eventdata{
	display: none;
	box-shadow: inset 1px 1px 16px 0 #ccc;
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
}
.presentationtxt{
	text-align: right;
}
.presentationtxt h3{
	margin-top: 0;
}
.presentationimg img, .eventimgs img{
	width: 100%;
	margin-bottom: 6px;
}
.eventimgs img{
	margin-top: 24px;
}
.btn-default{
	margin-top: 20px;
	margin-bottom: 20px;
}
.map{
	height: 200px;
	background-color: #ccc;
}
#search{
	text-align: right;
}
.form-control{
	width: 150px;
	display: inline-block;
}
h1{
	background-color: #fff;
	padding: 20px;
}
h3{
	background-color: #fff;
	padding: 12px 20px;
}
p{
	font-size: 16px;
	padding: 0 20px;
}
.home a{
	background-color: #fff;
	padding: 1px 5px;
}