{% extends 'layout.twig' %}

{% block content %}
	
	<div class="row">
	    <div class="col-md-12">
	    	<h1>Watwaarwanneer.info</h1>
	        
	        

	    </div>
	</div>

	<div class="row home">
	    <div class="col-md-4">

	    	<h3>Gebeurtenissen</h3>
	        
	        <p>Watwaarwanneer.info is - momenteel - een soort van lab waarin geëxperimenteerd wordt met het beschrijven en presenteren van gebeurtenissen die erfgoedcollecties beter kunnen ontlsuiten.</p>

	        <p>Een <a href="http://www.islandsofmeaning.nl/gebeurtenissen-in-erfgoedcollecties-beschrijven-met-sem-en-wikidata/">blog op Islands of Meaning</a> beschrijft een praktische manier om dat te doen met behulp van Wikidata.</p>

	        <p>Presenteren van de gebeurtenissen zou bijvoorbeeld kunnen in een <a href="/timeline">chronologisch overzicht als dit</a>.</p>
	        
	        <p>In de toekomst krijgen de watwaarwanneer-URIs wellicht een meer duurzame status.</p>



	    </div>
	    <div class="col-md-4">
	    	
	    	<h3>Tentoonstellingen</h3>
	        
	        <p>In wezen zijn tentoonstellingen natuurlijk ook gewoon gebeurtenissen. Ze hebben, over het algemeen, een begin, een eind en een locatie.</p>

	        <p>Tentoonstellingen zijn bij uitstek geschikt om erfgoedcollecties te verbinden en te presenteren. Dit mag een open deur zijn, maar ondertussen biedt na afloop alleen de catalogus nog enig inzicht. Goede lijsten van in het verleden gehouden tentoonstellingen zijn lastig te vinden, gemeenschappelijk te gebruiken identifiers non-existent. Daarom zou het goed zijn als er ooit een Nationaal Tentoonstellingsregister komt.</p>

	        <p>Als voorproefje presenteren we hier een kleine tweeduizend, voornamelijk Amsterdamse, tentoonstellingen, te bekijken via locatie - zoals bijvoorbeeld <a href="https://watwaarwanneer.info/location/Q2077209">het Paleis voor Volksvlijt</a>.</p>

	    </div>
	    <div class="col-md-4">
	    	
	    	<h3>Afbeeldingen</h3>
	        
	        <p>Erfgoedcollecties zitten vol met afbeeldingen van gebeurtenissen. De binnen watwaarwanneer.info met gebeurtenissen verbonden afbeeldingen komen vooral van de beeldbanken van in <a href="https://adamlink.nl/">AdamLink</a> participerende instellingen.</p>

	        <p>Voorbeelden van aldus geïllustreerde gebeurtenissen zijn de tentoonstellingen <a href="https://watwaarwanneer.info/event/111">Luchtballon van Nadar</a> en de <a href="https://watwaarwanneer.info/event/243">Amsterdamse Markt Tentoonstelling AMATO</a>.


	        <h3>Data</h3>
	        
	        <p>Een turtle bestand met alle gebeurtenissen is <a href="/data/events-22-9-2019.ttl">hier te downloaden</a>.</p>

	    </div>
	</div>

{% endblock %}
